Django==5.2.9
djangorestframework==3.16.1
django-cors-headers==4.9.0
django-filter==25.2
django-allauth==64.0.0
dj-rest-auth==7.0.1
drf-spectacular==0.29.0

channels==4.3.2
channels_redis==4.3.0
redis==7.1.0

uvicorn==0.40.0
gunicorn==21.2.0
requests==2.32.5
httpx==0.28.1

pydantic==2.11.7
tiktoken==0.9.0
python-dotenv==1.1.1

psycopg[binary]>=3.1
