name: Deploy Library to Netlify

on:
  push:
    branches:
      - dev
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: '20.18.x'

      # library 폴더로 이동해서 의존성 설치
      - name: Install dependencies
        run: npm install
        working-directory: front/library

       # 빌드
      - name: Build
        run: npm run build
        working-directory: front/library

      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v2.0
        with:
          publish-dir: 'front/library/dist'
          production-branch: dev
          github-token: ${{ secrets.GIT_HUB_TOKEN }}
          deploy-message: "Deploy from GitHub Actions"
          enable-pull-request-comment: false
          enable-commit-comment: false
          overwrites-pull-request-comment: false
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        timeout-minutes: 1